*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1{
    display: none;
}

figcaption{
    display: none;
}

img{
    width:100%;
    height:100%;
}
@media all and (max-width:600px) {
    p{
        margin-bottom:0;
    }
}

html{
    height: 100%;
    line-height: 1;    
    margin-bottom: 0;
}

body{
    line-height: 1;    
    margin-bottom: 0;
}

#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-image: url(../img/background/bg_sub.gif);
}

header{
    top: 0px;
}

footer img{
    width: auto;
    height: auto;
}

/* 네비 */
#nav{
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 35px;
    border-bottom: 2px solid #2e1705;
    padding-top: 76px;
}

#nav .section_01{
    display: flex;
    flex-direction: column;
    max-width: 1021px;
    width:100%;
    margin: auto;

}

#nav .section_01>.article_01 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#nav .section_01>.article_01>ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom:0px;
}
@media all and (max-width:600px) {
    #nav .section_01>.article_01>ul.maxw600{
        /* flex-direction: column; */
    }
}

#nav .section_01>.article_01>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 35px;
    background-color: #a97b48;
    text-align: center;
    font-family: 'Times New Roman',serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #e4dec5;
    letter-spacing: -.15em;
    word-spacing: .2em;
    cursor: pointer;
}
@media all and (max-width:600px) {
    #nav .section_01>.article_01>ul>li.maxw600{
        font-size: .7em;
        font-weight: normal;
    }
}
#nav .section_01>.article_01>ul>li:hover{
    background-color: #2e1705;
    
}

#nav .section_01>.article_01 .menu_nav.menu_nav_select{
    background-color: #2e1705;
}

/* 내용 */
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1021px;
    min-width: 320px;
}


#content .menu_content{
    display: none;
}
#content .menu_content.menu_content_show{
    display: flex;
}
#content .section_01{
    flex-direction: column;
    justify-content: center;
}

#content .section_01>.article_01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .section_01 .titleBox_01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:40px;
}

#content .section_01 .titleBox_01>.text_01{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7em;
    color: #3c2415;
    font-weight: bold;
    word-spacing: 0.1em;
    letter-spacing: -.15em;
    vertical-align: middle;
    margin-right: .2em;
}
@media all and (max-width:600px) {
    #content .section_01 .titleBox_01>.text_01.maxw600{
        font-size: 1.3em;
    }
}

#content .section_01 .titleBox_01>.el_01{
    width: 1.9em;
    height: 1px;
    border-top: 2px solid #ba8768;
    border-bottom: 2px solid #cda88f;
}

#content .section_01 .titleBox_02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

#content .section_01 .titleBox_02>.text_01{
    font-family: 'Times New Roman',serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #3c2415;
    letter-spacing: -0.1em;
    word-spacing: 0.2em;
}
@media all and (max-width:600px) {
    #content .section_01 .titleBox_02>.text_01.maxw600{
        font-size: 1.0em;
    }
}

#content .section_01 .titleBox_02>.text_02{
    font-family: 'Times New Roman',serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #3c2415;
    letter-spacing: -0.1em;
    word-spacing: 0.2em;
}
@media all and (max-width:600px) {
    #content .section_01 .titleBox_02>.text_02.maxw600{
        font-size: 1.0em;
    }
}

#content .section_01 .titleBox_02>.text_02>span{
    display: flex;
    border-bottom: 1px solid #70635a;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.7em;
}

#content .section_01 .titleBox_03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    margin-bottom: 30px;
}

#content .section_01 .titleBox_03>.text_01{
    color:#b27d5a;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: -0.1em;
    margin-bottom: 5px;
}
@media all and (max-width:600px) {
    #content .section_01 .titleBox_03>.text_01.maxw600{
        font-size: .7em;
    }
}


#content .section_01>.article_02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .section_01>.article_03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .section_01>.article_03>.contentBox_01{
    margin-top: 35px;
}

#content .section_01>.article_03>.contentBox_01>ul{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}




/* 게시판 */
#content .section_05{
    width: 100%;
}

#content .section_05 .titleBox_01{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

#content .section_05 .titleBox_01 .title_01{
    color: #3c2415;
    font-family: 'Times New Roman',serif;
    font-weight: bold;
    font-size: 2em;
    padding-left: 5px;
    padding-right: 5px;
}
@media all and (max-width:600px) {
    #content .section_05 .titleBox_01 .title_01.maxw600{
        font-size: 1.3em;
    }
}

#content .section_05 .titleBox_01>.el_01{
    width: 1.9em;
    height: 1px;
    border-top: 2px solid #ba8768;
    border-bottom: 2px solid #cda88f;
}

#content .section_05 .table_01{
    border-bottom: 2px solid #2e1705;
    cursor: pointer;
}

#content .section_05 .table_01 .table_top{
}

#content .section_05 .table_01 .rv_th{
    color: #3c2415;
    font-family: 'Times New Roman',serif;
    text-align: center;
    
}

#content .section_05 .table_01 .rv_td{
    text-align: center;
}

#content .section_05 .table_01 .rv_td.rv_td_left{
    text-align: left;
}

#content .section_05 .table_01 .rv_text{
    background-color: #a97b48;
    border-radius: 11px;
    color: #e4dec5;
    padding-left: 10px;
    padding-right: 10px;
}
@media all and (max-width:600px) {
    #content .section_05 .table_01 .rv_text{
        font-size: .7em;
    }
}

#content .section_05 .table_01 .rv_content{
    display: none;
    font-size: .7em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}
#content .section_05 .table_01 .rv_content.rv_content_show{
    display: block;
}

#content .section_05 .btnBox_01{
    text-align: right;
}

#content .section_05 .btnBox_01 .btn_01{
    background-color: #a97b48;
    border-color: #a97b48;
    color: #e4dec5;
}

#content .section_05 .rv_btn{
    color: #e4dec5;
    background-color: #a97b48;
    border-radius: 5px;
}


.readyBox{
    height: 300px;
    display: flex;
    align-items: center;
    font-size: 30px;
}